.idea
.DS_Store
# ignore saved h5 models
*.h5
# ignore model checkpoints
*.ckpt
# ignore dataset
*.zip
*.tar.gz
*.tar
*.gz
*.rar

# ignore dataset directory
afhq/*
pets_facial_expression_dataset/*
```